/* btn */
.nd-btn {
    height: 36px;
    min-width: 64px;
    background-color: #f5f5f5;
    padding: 0 16px;
    font-size: .875rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow, transform, opacity, background-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border-style: none;
    box-sizing: border-box;
}

.nd-btn:hover {
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.nd-btn:active {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.nd-btn:not(.nd-btn-outlined).nd-btn-primary {
    color: #fff;
    background-color: #1867c0;
    border-color: #1867c0;
}

.nd-btn:not(.nd-btn-outlined).nd-btn-secondary {
    color: #fff;
    background-color: #5cbbf6;
    border-color: #5cbbf6;
}

.nd-btn:not(.nd-btn-outlined).nd-btn-warning {
    color: #fff;
    background-color: #fb8c00;
    border-color: #fb8c00;
}

.nd-btn:not(.nd-btn-outlined).nd-btn-error {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}

.nd-btn:not(.nd-btn-outlined).nd-btn-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
}

.nd-btn.nd-btn-disable {
    color: rgba(0, 0, 0, .26);
    background-color: rgba(0, 0, 0, .12);
    cursor: not-allowed;
}

.nd-btn:not(.nd-btn-outlined).nd-btn.nd-btn-disable:hover {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.nd-btn.nd-btn-outlined {
    background-color: transparent;
    box-shadow: none;
}

.nd-btn.nd-btn-outlined:hover {
    background-color: rgba(0, 0, 0, .1);
}

.nd-btn.nd-btn-outlined:active {
    background-color: transparent !important;
}

.nd-btn.nd-btn-outlined.nd-btn-primary {
    color: #1867c0;
}

.nd-btn.nd-btn-outlined.nd-btn-primary:hover {
    background-color: rgba(24, 103, 192, .1);
}

.nd-btn.nd-btn-outlined.nd-btn-secondary {
    color: #5cbbf6;
}

.nd-btn.nd-btn-outlined.nd-btn-secondary:hover {
    background-color: rgba(92, 187, 246, .1);
}

.nd-btn.nd-btn-outlined.nd-btn-warning {
    color: #fb8c00;
}

.nd-btn.nd-btn-outlined.nd-btn-warning:hover {
    background-color: rgba(251, 140, 0, .1);
}

.nd-btn.nd-btn-outlined.nd-btn-error {
    color: #ff5252;
}

.nd-btn.nd-btn-outlined.nd-btn-error:hover {
    background-color: rgba(255, 82, 82, .1);
}

.nd-btn.nd-btn-outlined.nd-btn-success {
    color: #4caf50;
}

.nd-btn.nd-btn-outlined.nd-btn-success:hover {
    background-color: rgba(76, 175, 80, .1);
}

.nd-btn.nd-btn-outlined.nd-btn-disable {
    color: rgba(0, 0, 0, .26);
}

.nd-btn.nd-btn-outlined.nd-btn-disable:hover {
    background-color: transparent;
}

.nd-btn.nd-btn-rounded {
    border-radius: 28px;
}

.nd-btn.nd-btn-depressed {
    box-shadow: none;
}

.nd-btn:not(.nd-btn-outlined).nd-btn-depressed:hover {
    opacity: .7;
}

.nd-btn.nd-btn-depressed:active {
    opacity: 1 !important;
}

.nd-btn.nd-btn-tile {
    border-radius: 0;
}

.nd-btn.nd-btn-x-large {
    height: 52px;
    min-width: 92px;
    padding: 0 23.11px;
    font-size: 1rem;
}

.nd-btn.nd-btn-large {
    height: 44px;
    min-width: 78px;
    padding: 0 19.55px;
}

.nd-btn.nd-btn-small {
    height: 28px;
    min-width: 50px;
    padding: 0 12.44px;
    font-size: .75rem;
}

.nd-btn.nd-btn-x-small {
    height: 20px;
    min-width: 36px;
    padding: 0 8.88px;
    font-size: .625rem;
}

.nd-btn .nd-icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.nd-btn.nd-btn-x-large .nd-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
}

.nd-btn.nd-btn-large .nd-icon {
    height: 28px;
    width: 28px;
    font-size: 28px;
}

.nd-btn.nd-btn-x-small .nd-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
}

.nd-btn.nd-btn-block {
    display: flex;
    flex: 1 0 auto;
    min-width: 100% !important;
    max-width: auto;
}
