/* card */
.nd-card {
    border-radius: 4px;
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    border-width: thin;
    display: block;
    max-width: 100%;
    outline: none;
    text-decoration: none;
    transition-property: box-shadow, opacity;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
    flex-shrink: 0;
    flex-grow: 1;
}

.nd-card .nd-card-title {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    line-height: 2rem;
    word-break: break-all;
}

.nd-card .nd-card-subtitle {
    margin-top: -16px;
}

.nd-card .nd-card-text {
    box-sizing: border-box;
    width: 100%;
}

.nd-card .nd-card-actions {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    align-items: center;
    display: flex;
    padding: 8px;
}

.nd-card .nd-card-actions .nd-btn {
    padding: 0 8px;
}

.nd-card .nd-card-actions .nd-btn:not(:first-child) {
    margin-left: 8px;
}

.nd-card .nd-card-title, .nd-card .nd-card-subtitle, .nd-card .nd-card-text {
    padding: 16px;
}

.nd-card .nd-card-subtitle, .nd-card .nd-card-text {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
    color: rgba(0, 0, 0, .6);
    padding-top: 0;
}

.nd-card.nd-card-outlined {
    border: thin solid rgba(0, 0, 0, .12);
}

.nd-card.nd-card-shaped {
    border-radius: 24px 4px;
}

.nd-card.nd-card-disabled {
    pointer-events: none;
    user-select: none;
}

.nd-card.nd-card-disabled * {
    opacity: .6;
    transition: inherit;
}
