/* grid */
.nd-container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.nd-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.nd-row.nd-row-align-start {
    align-items: flex-start;
}

.nd-row.nd-row-align-center {
    align-items: center;
}

.nd-row.nd-row-align-end {
    align-items: flex-end;
}

.nd-row.nd-row-justify-start {
    justify-content: flex-start;
}

.nd-row.nd-row-justify-center {
    justify-content: center;
}

.nd-row.nd-row-justify-end {
    justify-content: flex-end;
}

.nd-row.nd-row-justify-space-around {
    justify-content: space-around;
}

.nd-row.nd-row-justify-space-between {
    justify-content: space-between;
}

.nd-col, .nd-col-1, .nd-col-2, .nd-col-3, .nd-col-4, .nd-col-5, .nd-col-6, .nd-col-7, .nd-col-8, .nd-col-9, .nd-col-10, .nd-col-11, .nd-col-12,
.nd-col-xs1, .nd-col-xs2, .nd-col-xs3, .nd-col-xs4, .nd-col-xs5, .nd-col-xs6, .nd-col-xs7, .nd-col-xs8, .nd-col-xs9, .nd-col-xs10, .nd-col-xs11, .nd-col-xs12,
.nd-col-sm1, .nd-col-sm2, .nd-col-sm3, .nd-col-sm4, .nd-col-sm5, .nd-col-sm6, .nd-col-sm7, .nd-col-sm8, .nd-col-sm9, .nd-col-sm10, .nd-col-sm11, .nd-col-sm12,
.nd-col-md1, .nd-col-md2, .nd-col-md3, .nd-col-md4, .nd-col-md5, .nd-col-md6, .nd-col-md7, .nd-col-md8, .nd-col-md9, .nd-col-md10, .nd-col-md11, .nd-col-md12,
.nd-col-lg1, .nd-col-lg2, .nd-col-lg3, .nd-col-lg4, .nd-col-lg5, .nd-col-lg6, .nd-col-lg7, .nd-col-lg8, .nd-col-lg9, .nd-col-lg10, .nd-col-lg11, .nd-col-lg12,
.nd-col-xl1, .nd-col-xl2, .nd-col-xl3, .nd-col-xl4, .nd-col-xl5, .nd-col-xl6, .nd-col-xl7, .nd-col-xl8, .nd-col-xl9, .nd-col-xl10, .nd-col-xl11, .nd-col-xl12 {
    position: relative;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.nd-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.nd-col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
}

.nd-col-2 {
    flex: 0 0 16.6666666666%;
    max-width: 16.6666666666%;
}

.nd-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.nd-col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.nd-col-5 {
    flex: 0 0 41.6666666666%;
    max-width: 41.6666666666%;
}

.nd-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.nd-col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}

.nd-col-8 {
    flex: 0 0 66.6666666666%;
    max-width: 66.6666666666%;
}

.nd-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.nd-col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
}

.nd-col-11 {
    flex: 0 0 91.6666666666%;
    max-width: 91.6666666666%;
}

.nd-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.nd-offset-1 {
    margin-left: 8.3333333333%;
}

.nd-offset-2 {
    margin-left: 16.6666666666%;
}

.nd-offset-3 {
    margin-left: 25%;
}

.nd-offset-4 {
    margin-left: 33.3333333333%;
}

.nd-offset-5 {
    margin-left: 41.6666666666%;
}

.nd-offset-6 {
    margin-left: 50%;
}

.nd-offset-7 {
    margin-left: 58.3333333333%;
}

.nd-offset-8 {
    margin-left: 66.6666666666%;
}

.nd-offset-9 {
    margin-left: 75%;
}

.nd-offset-10 {
    margin-left: 83.3333333333%;
}

.nd-offset-11 {
    margin-left: 91.6666666666%;
}

.nd-offset-12 {
    margin-left: 100%;
}

@media (min-width: 1904px) {
    .nd-col-xl1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .nd-col-xl2 {
        flex: 0 0 16.6666666666%;
        max-width: 16.6666666666%;
    }

    .nd-col-xl3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nd-col-xl4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .nd-col-xl5 {
        flex: 0 0 41.6666666666%;
        max-width: 41.6666666666%;
    }

    .nd-col-xl6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nd-col-xl7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .nd-col-xl8 {
        flex: 0 0 66.6666666666%;
        max-width: 66.6666666666%;
    }

    .nd-col-xl9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .nd-col-xl10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .nd-col-xl11 {
        flex: 0 0 91.6666666666%;
        max-width: 91.6666666666%;
    }

    .nd-col-xl12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nd-offset-xl1 {
        margin-left: 8.3333333333%;
    }

    .nd-offset-xl2 {
        margin-left: 16.6666666666%;
    }

    .nd-offset-xl3 {
        margin-left: 25%;
    }

    .nd-offset-xl4 {
        margin-left: 33.3333333333%;
    }

    .nd-offset-xl5 {
        margin-left: 41.6666666666%;
    }

    .nd-offset-xl6 {
        margin-left: 50%;
    }

    .nd-offset-xl7 {
        margin-left: 58.3333333333%;
    }

    .nd-offset-xl8 {
        margin-left: 66.6666666666%;
    }

    .nd-offset-xl9 {
        margin-left: 75%;
    }

    .nd-offset-xl10 {
        margin-left: 83.3333333333%;
    }

    .nd-offset-xl11 {
        margin-left: 91.6666666666%;
    }

    .nd-offset-xl12 {
        margin-left: 100%;
    }
}

@media (max-width: 1904px) {
    .nd-col-lg1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .nd-col-lg2 {
        flex: 0 0 16.6666666666%;
        max-width: 16.6666666666%;
    }

    .nd-col-lg3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nd-col-lg4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .nd-col-lg5 {
        flex: 0 0 41.6666666666%;
        max-width: 41.6666666666%;
    }

    .nd-col-lg6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nd-col-lg7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .nd-col-lg8 {
        flex: 0 0 66.6666666666%;
        max-width: 66.6666666666%;
    }

    .nd-col-lg9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .nd-col-lg10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .nd-col-lg11 {
        flex: 0 0 91.6666666666%;
        max-width: 91.6666666666%;
    }

    .nd-col-lg12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nd-offset-lg1 {
        margin-left: 8.3333333333%;
    }

    .nd-offset-lg2 {
        margin-left: 16.6666666666%;
    }

    .nd-offset-lg3 {
        margin-left: 25%;
    }

    .nd-offset-lg4 {
        margin-left: 33.3333333333%;
    }

    .nd-offset-lg5 {
        margin-left: 41.6666666666%;
    }

    .nd-offset-lg6 {
        margin-left: 50%;
    }

    .nd-offset-lg7 {
        margin-left: 58.3333333333%;
    }

    .nd-offset-lg8 {
        margin-left: 66.6666666666%;
    }

    .nd-offset-lg9 {
        margin-left: 75%;
    }

    .nd-offset-lg10 {
        margin-left: 83.3333333333%;
    }

    .nd-offset-lg11 {
        margin-left: 91.6666666666%;
    }

    .nd-offset-lg12 {
        margin-left: 100%;
    }
}

@media (max-width: 1264px) {
    .nd-col-md1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .nd-col-md2 {
        flex: 0 0 16.6666666666%;
        max-width: 16.6666666666%;
    }

    .nd-col-md3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nd-col-md4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .nd-col-md5 {
        flex: 0 0 41.6666666666%;
        max-width: 41.6666666666%;
    }

    .nd-col-md6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nd-col-md7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .nd-col-md8 {
        flex: 0 0 66.6666666666%;
        max-width: 66.6666666666%;
    }

    .nd-col-md9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .nd-col-md10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .nd-col-md11 {
        flex: 0 0 91.6666666666%;
        max-width: 91.6666666666%;
    }

    .nd-col-md12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nd-offset-md1 {
        margin-left: 8.3333333333%;
    }

    .nd-offset-md2 {
        margin-left: 16.6666666666%;
    }

    .nd-offset-md3 {
        margin-left: 25%;
    }

    .nd-offset-md4 {
        margin-left: 33.3333333333%;
    }

    .nd-offset-md5 {
        margin-left: 41.6666666666%;
    }

    .nd-offset-md6 {
        margin-left: 50%;
    }

    .nd-offset-md7 {
        margin-left: 58.3333333333%;
    }

    .nd-offset-md8 {
        margin-left: 66.6666666666%;
    }

    .nd-offset-md9 {
        margin-left: 75%;
    }

    .nd-offset-md10 {
        margin-left: 83.3333333333%;
    }

    .nd-offset-md11 {
        margin-left: 91.6666666666%;
    }

    .nd-offset-md12 {
        margin-left: 100%;
    }
}

@media (max-width: 960px) {
    .nd-col-sm1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .nd-col-sm2 {
        flex: 0 0 16.6666666666%;
        max-width: 16.6666666666%;
    }

    .nd-col-sm3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nd-col-sm4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .nd-col-sm5 {
        flex: 0 0 41.6666666666%;
        max-width: 41.6666666666%;
    }

    .nd-col-sm6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nd-col-sm7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .nd-col-sm8 {
        flex: 0 0 66.6666666666%;
        max-width: 66.6666666666%;
    }

    .nd-col-sm9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .nd-col-sm10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .nd-col-sm11 {
        flex: 0 0 91.6666666666%;
        max-width: 91.6666666666%;
    }

    .nd-col-sm12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nd-offset-sm1 {
        margin-left: 8.3333333333%;
    }

    .nd-offset-sm2 {
        margin-left: 16.6666666666%;
    }

    .nd-offset-sm3 {
        margin-left: 25%;
    }

    .nd-offset-sm4 {
        margin-left: 33.3333333333%;
    }

    .nd-offset-sm5 {
        margin-left: 41.6666666666%;
    }

    .nd-offset-sm6 {
        margin-left: 50%;
    }

    .nd-offset-sm7 {
        margin-left: 58.3333333333%;
    }

    .nd-offset-sm8 {
        margin-left: 66.6666666666%;
    }

    .nd-offset-sm9 {
        margin-left: 75%;
    }

    .nd-offset-sm10 {
        margin-left: 83.3333333333%;
    }

    .nd-offset-sm11 {
        margin-left: 91.6666666666%;
    }

    .nd-offset-sm12 {
        margin-left: 100%;
    }
}

@media (max-width: 600px) {
    .nd-col-xs1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .nd-col-xs2 {
        flex: 0 0 16.6666666666%;
        max-width: 16.6666666666%;
    }

    .nd-col-xs3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nd-col-xs4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .nd-col-xs5 {
        flex: 0 0 41.6666666666%;
        max-width: 41.6666666666%;
    }

    .nd-col-xs6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nd-col-xs7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .nd-col-xs8 {
        flex: 0 0 66.6666666666%;
        max-width: 66.6666666666%;
    }

    .nd-col-xs9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .nd-col-xs10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .nd-col-xs11 {
        flex: 0 0 91.6666666666%;
        max-width: 91.6666666666%;
    }

    .nd-col-xs12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nd-offset-xs1 {
        margin-left: 8.3333333333%;
    }

    .nd-offset-xs2 {
        margin-left: 16.6666666666%;
    }

    .nd-offset-xs3 {
        margin-left: 25%;
    }

    .nd-offset-xs4 {
        margin-left: 33.3333333333%;
    }

    .nd-offset-xs5 {
        margin-left: 41.6666666666%;
    }

    .nd-offset-xs6 {
        margin-left: 50%;
    }

    .nd-offset-xs7 {
        margin-left: 58.3333333333%;
    }

    .nd-offset-xs8 {
        margin-left: 66.6666666666%;
    }

    .nd-offset-xs9 {
        margin-left: 75%;
    }

    .nd-offset-xs10 {
        margin-left: 83.3333333333%;
    }

    .nd-offset-xs11 {
        margin-left: 91.6666666666%;
    }

    .nd-offset-xs12 {
        margin-left: 100%;
    }
}

/* align */
.nd-col-align-start {
    align-self: flex-start;
}

.nd-col-align-center {
    align-self: center;
}

.nd-col-align-end {
    align-self: flex-end;
}

/* order */
.nd-col-order-first {
    order: -1;
}

.nd-col-order-last {
    order: 13;
}

.nd-col-order-1 {
    order: 1;
}

.nd-col-order-2 {
    order: 2;
}

.nd-col-order-3 {
    order: 3;
}

.nd-col-order-4 {
    order: 4;
}

.nd-col-order-5 {
    order: 5;
}

.nd-col-order-6 {
    order: 6;
}

.nd-col-order-7 {
    order: 7;
}

.nd-col-order-8 {
    order: 8;
}

.nd-col-order-9 {
    order: 9;
}

.nd-col-order-10 {
    order: 10;
}

.nd-col-order-11 {
    order: 11;
}

.nd-col-order-12 {
    order: 12;
}

.nd-spacer {
    flex-grow: 1;
}
